.DS_Store
.env

artifacts
cache
node_modules

!ignition/deployments/deployed_adresses.json
scripts/output/*
ignition/deployments/*/build-info/
ignition/deployments/*/journal.jsonl
.gitignore
scripts/purchasing.js
scripts/Inferix.json
.gitignore
